<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link
    href="https://fonts.googleapis.com/css2?family=Geist&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
    rel="stylesheet"
  />

  <title inertia>Atelier Merienne</title>

  @stack('dumper')
  @viteReactRefresh()
  @inertiaHead()
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])

</head>

<body class="min-h-screen w-screen font-sans font-regular tracking-[-6%] uppercase">
  @inertia()
</body>

</html>
