* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}


.font-title {
  font-family: 'Playfair Display', serif;
  letter-spacing: -0.04em;
}

.font-geist {
  font-family: 'Geist', sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
}

.btn {
  border: inherit;
}
